@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #FFB703;
  --color-accent: #FAEDCD;
  --color-dark: #1A1A1A;
  --color-light-gray: #F5F5F7;
  --text-primary: #333333;
  --text-secondary: #666666;
}